.text-decorator-none{
    text-decoration: none;
}

.bot02{
    background: #a3caa8!important;
color: #FFFFFF!important;

}

.bot03{
    background: #db8a8a!important;
color: #FFFFFF!important;

}

.card{
    background-color: #fdf2f2!important;
}