*{
    font-family: Montserrat !important;
    
}

.Navbar{
    background: rgb(0,0,0)!important;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(2,8,45,1) 42%, rgba(7,16,70,1) 68%)!important;
    
    
}

.menue{
    color: #FFFFFF!important;
    flex-grow: 1!important;
    display: flex;
    

    
    
    
    
    
}

.tema{
    color: #FFFFFF!important;
    display: block;
    margin-right: 750px;

}

