*{
    font-family: Montserrat !important;
    
}

.text-decoretor-none{
    text-decoration:none;
}

.Navbar{
    background: #e3b7a098!important;
    
    
}

.menue{
    color: #BF9270!important;
    flex-grow: 1!important;
    display: flex;
    
    
}

.tema{
    color: #BF9270!important;
    display: block;
    margin-right: 780px;
    font-weight: bolder;
}

