.login{
    background-color:#FFEDDB;
}

form{
    background-color: #bf927080;
    margin: 8px;
    padding: 40px;
    border-radius: 10px;
}
.entrar{

    font-weight: bold!important;
    color: #FFFFFF!important;
    
}

.campo{
    background-color: #FFEDDB;
    border-radius: 5px;
}

.bot{
    background: #EDCDBB!important;
}

.cadastro{
    color: #FFEDDB;
    font-weight: 'bold';
    
}
.letra{
    background-color: #bf927080;
    margin: 8px;
    padding: 40px ;
    color: #b48a6a;
    border-radius: 10px;
}

.img{
    background-image: url(../../assets/img/art.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.text-decorator-none{
    text-decoration: none;
}

/* media queries */


@media (max-width: 1024px) {
    .login {
        width: 90%;
    }
}

@media (max-width: 650px) {
   
    .login {
        width: 90%;
    }

    .img {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}