.redes{
    background:#E3B7A0!important;
    height: 90px!important;
}
.logo{
    color: #BF9270!important;
    font-size: 35px!important;
}
.logog{
    color: #BF9270!important;
    font-size: 30px!important;
}

.textos{
    font-size: 20px!important;
    
}

.rodape{
    background: #E3B7A0!important;
    color: #BF9270!important;
    text-decoration: none!important;   
}


