.redes{
    background: rgb(45,9,83)!important;
    background: linear-gradient(0deg, rgba(45,9,83,1) 0%, rgba(52,0,80,1) 25%, rgba(0,0,0,1) 98%)!important;
    

}
.logo{
    color: aliceblue!important;
    font-size: 45px!important;
}

.textos{
    font-size: 20px!important;
}

.rodape{
    background: rgb(0,6,27)!important;
    background: linear-gradient(0deg, rgba(0,6,27,1) 0%, rgba(1,11,71,1) 44%, #2d0953 80%)!important;
   
}