.redes{
    background:#03f196!important;
    height: 120px!important;
}
.logo{
    color: aliceblue!important;
    font-size: 35px!important;
}
.logog{
    color: aliceblue!important;
    font-size: 30px!important;
}

.textos{
    font-size: 20px!important;
}

.rodape{
    background: #069be0!important;


   
}


