.imagem2{
    background-image: url(../../assets/img/art.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.cadastro{
    font-weight: bold!important;

}

.botcancelar{
margin-right: 20px!important;
}