.Home{
    background:#000000!important;
    
}
.texto1{
    color: #FFFFFF!important;
    text-transform: uppercase!important;

}
.texto2{
    color: #808080!important;
}

.imagem{
    width: 200px;
    display: block;
    margin-top: 10px;
  
}
.botao{
background: #94078d!important;
color: #FFFFFF!important;

}

